.container__card{
    border: solid 1px black;
    width: 250px;
    height: 350px;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    background-color: #232323;
    border-radius: 10px;
}

.card__title{
    margin-left: auto;
    margin-right: auto;
}
.card__title > h3 {
    color: #fff;
}

.card__body{
    background-color: #616161;
    width: 80%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 250px;

}
.card__stats{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.card__stats-type{
    color:#1d1d1d;
    background-color: rgb(190, 219, 26);
    font-weight: bold;
    padding: 5px;
    margin-right: 4px;
     border-radius: 5px;
}
