
<div class="container__small-card">
    <div class="container__small-card-content">
        <div class="small-card__image">
            <img
            src="https://www.pngkey.com/png/detail/233-2332677_image-500580-placeholder-transparent.png"
            alt=""
            height="100px">
        </div>
        <div class="small-card__title">
            <h1><a href="#">Titulo do small card</a></h1>
        </div>
    </div>
    <div class="container__small-card-line">
        <hr>
    </div>
</div>

